tenk_env
imdb_crop/*
cropped_imdb_images/*
utils/load_s3.py
.gitignore
imdbFaces.zip
utils/__pycache__/load_s3.cpython-36.pyc
utils/__pycache__/util.cpython-36.pyc
.gitignore
utils/__pycache__/util.cpython-36.pyc
utils/__pycache__/util.cpython-36.pyc
.vscode
_temp_.json
utils/__pycache__/init_setup.cpython-36.pyc
utils/__pycache__/moduler.cpython-36.pyc
bilder_kjendiser/*
dine_opplastninger/*
dine_ansikter/*